
@font-face {
  font-family: 'Maple';
  font-style: normal;
  font-weight: 400;
  src: url('/dist/fonts/MapleWebRegular.eot');
  src: url('/dist/fonts/MapleWebRegular.woff') format('woff');
}

@font-face {
  font-family: 'Maple';
  font-style: normal;
  font-weight: 900;
  src: url('/dist/fonts/MapleWebBlack.eot');
  src: url('/dist/fonts/MapleWebBlack.woff') format('woff');
}
