
.project .container {
	padding-bottom: $base*2.5;

	@include bp-min-width($medium) {
		max-width: 1208px;
		padding-top: $base*3;
		padding-bottom: $base*6;
	}
}

.project--title {
	margin-bottom: 12px;
	color: #fff;
	text-align: center;

	@include bp-min-width($medium) {
		margin-bottom: $base;
	}
}

.project--role {
	margin-bottom: $base;
	color: #fff;
	text-align: center;

	@include bp-min-width($medium) {
		@include font-size(24px);
		margin-bottom: $base*3;
	}
}

.project--images {
	position: relative;

	@include bp-min-width($medium) {
		margin-bottom: $base*5;
		padding: 0 36px;
	}
}

// .project--desktop {
// 	height: 720px;
// 	padding: 3.5%;
// 	background: $grey;
// 	border-radius: 10px;
// }
//
// .project--desktop-viewport {
// 	overflow: hidden;
// 	overflow-y: scroll;
// 	max-height: 100%;
// 	border: 1px solid rgba(#000, .2);
// }

// .project--mobile {
// 	position: absolute;
// 	left: 0;
// 	bottom: -40px;
// 	width: 300px;
// 	height: 500px;
// 	padding: 40px 20px;
// 	background: $grey;
// 	background: #363C42;
// 	border-radius: 20px;
// 	box-shadow: 0 0 12px rgba(#000,.2);
// }
//
// .project--mobile-viewport {
// 	overflow: hidden;
// 	overflow-y: scroll;
// 	max-height: 100%;
// 	border: 1px solid rgba(#000, .2);
// }

.project--desktop {
	margin-bottom: $base*4;
}

.project--mobile {
	width: 33.333%;
	height: $base*26;
	overflow: hidden;
}

.project--image {
	margin-bottom: $base;
	text-align: center;

	@include bp-min-width($medium) {
		margin-bottom: $base*4;
	}
}

.project--description {
	@include font-size(20px);
	max-width: 794px;
	margin: 0 auto $base*2;
	color: #fff;
	line-height: 1.25;

	@include bp-min-width($medium) {
		@include font-size(24px);
		margin-bottom: $base*3;
	}
}

.project--site-link {
	@include font-size(24px);
	text-align: center;

	@include bp-min-width($medium) {
		@include font-size(30px);
	}
}

.project--site-link a {
	color: #fff;
}
