    <footer class="footer">
      <div class="container">
        <h3 class="section-title">Tell Me Something Good</h3>
        <p class="footer--email title__h1">
          <a href="">
            <span class="email__desktop">hello@bradsawicki.com</span>
            <span class="email__mobile btn">Contact Me</span>
          </a>
        </p>
        <p class="footer--social social">
          <a href="">Twitter</a>
          <span class="divider">/</span>
          <a href="">GitHub</a>
          <span class="divider">/</span>
          <a href="">Dribbble</a>
          <span class="divider">/</span>
          <a href="">Instgram</a>
        </p>
        <p class="footer--copyright">&copy;2016 Brad Sawicki</p>
      </div>
    </footer>

    <div class="contact">
      <a href="" class="contact--close"></a>
      <div class="contact--container">
        <h4 class="section-title">Sup?</h4>
        <p class="contact--email title__h1">
          <a href="">
            <span class="email__desktop">hello@bradsawicki.com</span>
            <span class="email__mobile">Email Me</span>
          </a>
        </p>
        <p class="contact--social social">
          <a href="">Twitter</a>
          <span class="footer--divider">/</span>
          <a href="">GitHub</a>
          <span class="footer--divider">/</span>
          <a href="">Dribbble</a>
          <span class="footer--divider">/</span>
          <a href="">Instgram</a>
        </p>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
