    <footer class="footer">
      <div class="container">
        <h3 class="section-title">Tell Me Something Good</h3>
        <p class="footer--email title__h1"><a href=""><span class="footer--email__desktop">hello@bradsawicki.com</span><span class="footer--email__mobile">Contact Me</span></a></p>
        <p class="footer--social">
          <a href="">Twitter</a>
          <span class="footer--divider">/</span>
          <a href="">GitHub</a>
          <span class="footer--divider">/</span>
          <a href="">Dribbble</a>
          <span class="footer--divider">/</span>
          <a href="">Instgram</a>
        </p>
        <p class="footer--copyright">&copy;2016 Brad Sawicki. Borrow, don's steal.</p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="/dist/js/main.js"></script>
  </body>
</html>
