<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicago Web Design | Chicago Web Developer | Brad Sawicki</title>
    <link rel="shortcut icon" type="image/png" href="/dist/images/favicon.png"/>
    <link href="/dist/css/main.css" rel="stylesheet" media="all">
  </head>
  <body>
    @@include('svg.html')

    <header class="header">
      <div class="container">
        <a href="/" class="header--logo">Brad Sawicki</a>
        <nav class="main-nav">
          <a href="" class="main-nav--item main-nav--item__work">Work</a>
          <a href="" class="main-nav--item main-nav--item__about">About</a>
          <a href="" class="main-nav--item main-nav--item__contact">Contact</a>
        </nav>
      </div>
    </header>
